@font-face {
  font-family: "TheJamsil5Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Dovemayo_wild";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/Dovemayo_wild.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin-right: 8px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  background-color: gray;
  border-radius: 30px;
}
/* .slider 요소의 시작 부분 앞에 콘텐츠를 생성하는 역할 */
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  margin: 4px;
  background-color: white;
  transition: 0.5s;
  border-radius: 50%;
}
/*  input 요소의 checked 상태일 때, 
    인접한 형제 요소 중 .slider 클래스를 가진 span 요소에 대한 스타일을 정의 */
input:checked + .slider {
  background-color: black;
}
/*  input 요소의 checked 상태일 때, before 가상 요소를 26px만큼 X축으로 이동
    슬라이더를 오른쪽으로 이동시켜 토글 버튼의 상태를 나타냄 */
input:checked + .slider::before {
  transform: translateX(26px);
}
